<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link href="public/styles/main-sheet.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
            <legend>URL Shortener</legend>
            <label for="url_input">URL to shorten:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://www.freecodecamp.org/"
              required
            /><br><br>
            <label for="url_input">Shortened URL:</label>
            <input
              id="custom-url"
              type="text"
              name="custom"
            /><br>
            <button id="submit" value="POST URL">POST URL</button>
            <p id="error-message"></p>
            
          <button id="delete-button">Delete All</button>
      </section>
      <section>
        <legend>Short Url</legend>
        <label for="result-input">Short url:</label>
            <input type="text" id="result-input">
            <button id="copy-link" >Copy to clipboard</button><br>
            <a id="old-url" href="#" target="_blank"> Result Link</a>
    </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="../views/bundle.js"></script>
  </body>
</html>
